@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --clr-dark-one: #16003b;
    --clr-dark-two: #2d4263;
    --clr-dark-three: #150050;

    --clr-purple: #764af1;
    --clr-green: #00ffab;
    --clr-yellow: #f8cb2e;
    --clr-red: #ee5007;

    --clr-primary: #243d25;
    --clr-lighter: #82dbd8;
    --clr-darker: #2f8f9d;
    --clr-secondary: #ff8d29;
    --clr-secondary-depper: #e4781a;

    --sidebar-width: 250px;
    --navbar-height: 70px;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #4b5d67;
}

/* alerts */
.alert {
    border-radius: 0;
    padding: 10px;
    border: 0;
    color: var(--clr-dark-three);
}

.alert * {
    color: var(--clr-dark-one) !important;
}

.alert button {
    outline: 0;
    box-shadow: 0 0 0 !important;
    padding: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
}

.alert-success {
    background-color: var(--clr-green);
}

/* buttons */
.btn {
    border: 0;
    box-shadow: 0 0 0 !important;
    border-radius: 0;
}

.btn-primary {
    background: var(--clr-yellow);
    color: var(--clr-dark-three);
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--clr-yellow);
    color: var(--clr-dark-one);
}

form .btn {
    border-radius: 0;
}

/* cards */
.card {
    border-radius: 0;
    border: 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background: var(--clr-dark-two);
}

.dashboard-cards a {
    text-decoration: none;
}

.card.dashboard-card {
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.card.dashboard-card h1 {
    text-transform: capitalize;
}

.card.dashboard-card._1 {
    background: var(--clr-green);
}

.card.dashboard-card._1 * {
    color: var(--clr-dark-three) !important;
}

.card.dashboard-card._2 {
    background: var(--clr-purple);
}

.card.dashboard-card._3 {
    background: var(--clr-yellow);
}

.card.dashboard-card._3 * {
    color: var(--clr-dark-three) !important;
}

.card.dashboard-card._4 {
    background: #001d6e;
    color: #f0f0f0;
}

.card.dashboard-card._5 {
    background-color: #f73d93;
}

.card * {
    color: #f1f1f1;
}

/* form controls */
.form-control {
    border-radius: 0;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: var(--clr-dark-one) !important;
}

.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        var(--clr-secondary) 0px 0px 0px 1px;
}

.form-control option {
    color: var(--clr-dark-one);
}

/* images */
img.category_add_img {
    max-height: 140px;
    margin-top: 10px;
}

/* main */
main {
    margin-top: 30px;
}

/* navbar */
.navbar {
    background-color: var(--clr-dark-one) !important;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    width: 100%;
    z-index: 999;
}

.navbar * {
    color: white !important;
}

/* main sidebar style */
.sidebar-offcanvas {
    width: var(--sidebar-width) !important;
    background-color: var(--clr-dark-one) !important;
    padding-bottom: 70px;
    z-index: 999999;
}

aside.main_sidebar li {
    background-color: var(--clr-dark-three);
    border-radius: 0 !important;
    border-bottom: 2px solid #c1c1c1;
    border: 0;
    padding: 8px;
    padding-left: 0;
}

aside.main_sidebar li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside.main_sidebar li a[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

aside.main_sidebar li.active {
    background: var(--clr-yellow);
}

aside.main_sidebar li.active a {
    color: var(--clr-dark-one) !important;
}

aside.main_sidebar li a span {
    margin-left: 10px;
}

aside.main_sidebar li a:hover {
    color: #c1c1c1;
}

#sidebar_toggler {
    background-color: transparent;
    color: #f0f0f0;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin: 10px;
    font-size: 1.8rem;
    padding: 0 8px;
    position: fixed;
    top: 2px;
    left: 11px;
    z-index: 9999;
}

.sidebar-offcanvas .soft_provider {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}

.sidebar-offcanvas .soft_provider * {
    color: #adadad;
    text-align: center;
}

/* main content style  */
main.main_content {
    margin-top: 70px;
    padding: 20px;
}

.page_actions {
    background: var(--clr-primary);
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.page_actions .btn:not(:last-child) {
    margin-right: 10px;
}

/* dashboard home page */
.dashboard-welcome-card {
    display: flex;
    background: #000;
    padding: 10px;
}

.dashboard-welcome-card img {
    width: 200px;
}

.dashboard-welcome-card * {
    color: #f0f0f0;
}

/* modals */
.modal-content {
    background: var(--clr-dark-two);
    border-radius: 0;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.modal-content * {
    color: #f1f1f1;
}

/* pagination */
.active > .page-link,
.page-link.active {
    background-color: var(--clr-secondary);
    border-color: var(--clr-secondary);
}

/* tables */
.table {
    background: var(--clr-dark-three);
    border-color: var(--clr-dark-two);
}

.table * {
    color: #f0f0f0;
}

.dataTables_length {
    background: var(--clr-dark-one);
    padding: 10px;
    margin-bottom: 10px;
}

.dataTables_length label {
    color: #f0f0f0;
}

.dataTables_paginate .paginate_button {
    background: var(--clr-dark-one) !important;
}

.dataTables_paginate * {
    color: #f0f0f0 !important;
}

.dataTables_length select {
    color: #f0f0f0;
    padding: 4px 19px;
    margin: 0 10px;
    background: #150050 !important;
    border-radius: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #f0f0f0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--clr-dark-two) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #f0f0f0 !important;
}

.order_status {
    background-color: var(--clr-red);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.order_status.completed {
    background-color: var(--clr-green);
    color: var(--clr-dark-three);
}

/* invoice */
.invoice {
    position: relative;
}

.invoice[size="A4"] {
    height: 29.7cm;
    width: 21cm;
}

.invoice table {
    background-color: #fff;
    margin-bottom: 100px;
}

.invoice .invoice_header {
    display: flex;
    justify-content: space-between;
}

.invoice table * {
    color: #000;
}

.invoice .signature {
    display: inline-block;
    margin-top: 50px;
    width: 200px;
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 20px;
}

/* media queries */
@media (min-width: 992px) {
    .sidebar-offcanvas {
        visibility: visible !important;
        transform: none !important;
        -webkit-transform: none !important;
        top: var(--navbar-height) !important;
    }
    #sidebar_toggler {
        display: none;
    }

    main {
        margin-left: var(--sidebar-width);
    }
}
